<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="https://cdn.discordapp.com/attachments/1033365858459848729/1116972649080422471/image.png" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4" style="font-family:'Caveat'">Jihun Kim</h1>
        <p style="font-family:'Caveat'; font-size: 1.5rem;">
          Hello, I'm Kim Jihun who is currently practicing web development.
          web development is hard, but after I learn <span class="circle-sketch-highlight wandohopeR">'웹프로그래밍응용'</span>
          in
          college,
          I got hooked in web's attractiveness.

        </p>
        <p style="font-family:'Caveat'; font-size: 1.5rem;">
          I made this site to remember my memory. those things are seems like meaningless record.
          but I always thought there is no meaningless thing, and I Believe all the memory that I've assembled will be
          Reminiscene of my life.
        </p>
      </div>
    </div>
  </div>
</main>