<!-- views/games/new.ejs -->

<!--
  Listing 19.1 (p. 277)
  사용자 생성 구축
-->

<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="pt-5">
      <h1>Add New Game</h1>
      <p>What is your Favorite game?</p>

      <div class="row">
        <div class="col-lg-6 mb-3 mt-3">
          <div class="data-form">
            <form action="/games/create" method="POST">
              <h2 class="form-signin-heading">Create a new game:</h2>
              <label for="inputTitle">Title</label>
              <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus>
              <label for="inputProducer">Producer</label>
              <input type="text" name="producer" id="inputProducer" class="form-control" placeholder="Producer">
              <label for="inputGenre">Genre</label>
              <input type="text" name="genre" id="inputGenre" class="form-control" placeholder="Genre" required>
              <label for="inputCost">Cost</label>
              <input type="text" name="cost" id="inputCost" class="form-control" placeholder="Cost" required>
              <label for="inputImage">Image</label>
              <input type="text" name="image" id="inputImage" class="form-control" placeholder="Image" required>
              <br /><button class="btn btn-lg ut-red" type="submit">Create Game</button>
            </form>
          </div>
        </div>

        <div class="col-lg-6 text-center text-lg-start mb-3 mt-5">
          <figure>
            <img src="https://cdn.pixabay.com/photo/2015/01/08/18/24/children-593313_1280.jpg" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</main>