<!-- views/partials/navigation.ejs -->

<!-- 메뉴 -->
<nav class="menu nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link menu-item" name="About" href="/about" style="font-size: 1.5rem;">about</a>
    </li>
    <li class="nav-item">
      <a class="menu-item nav-link" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        name="Users" href="/users" style="font-size: 1.5rem; ">users</a>
    </li>
    </li>

    <li class="nav-item">
      <a class="menu-item nav-link" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        name="games" href="/games" style="font-size: 1.5rem;">games</a>
    </li>

    <li class="nav-item">
      <a class="menu-item nav-link" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        name="games" href="/books" style="font-size: 1.5rem;">books</a>
    </li>

  </ul>
</nav>


<!-- 반응형 메뉴 버튼 -->
<div id="menu-button">Menu</div>